.post-container {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

.post-content {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: transparent;
    align-items: center;
}

.post-form {
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: transparent;
    align-items: center;
  }

h1
{
    text-align: center;
    display: inline-block;
    padding-bottom: 25px;
}

.radio1
{
    display: inline;
    font-size: large;
    padding-right: 30px;
    padding-bottom: 20px;
}

#postDonate {
    margin-left: 20px;
}

.zipcode
{
    display: inline-flex;
    font-size: x-large;
    padding-bottom: 20px;
    border-radius: 20px;
    height: 4rem;
    margin-top: 24px;
}

.zipCode
{
    border-radius: 20px;
    height: 35px;
}

.body
{
    min-height: 110px;
    min-width: 250px;
    border-radius: 10px;
}

button
{
    display: inline-block;
}

.uploadBtn
{
    color: white;
    border-radius: 15px;
    font-size: 15px;
    margin-top: 24px;
    height: 40px;
    width: 120px;
    margin-left: 30px;
    background-color: blue;
} 

.uploadMenu {
    color: white;
    margin-top: 24px;
    border-radius: 15px;
    font-size: 15px;
    background-color: blue;
}

.btnn:hover {
    background-color: silver;
    color: #242424;
    border-radius: 0;
  }

.form-btnn {
    border-radius: 15px;
    font-size: 20px;
    margin-top: 24px;
    height: 45px;
    width: 160px;
    margin-left: 30px;
    background-color: rgb(7, 255, 48);
}
  
.form-btnn:hover {
    background-color: silver;
    color: #242424;
    border-radius: 0;
}

h4 {
    color: rgb(228, 59, 29);
}

@media screen and (max-width: 960px) {
    .post-form {
      margin-top: 25px;
      margin-right: 15px;
      width: 300px;
      height: 490px;
      display: flex;
      flex-direction: column;
      padding: 10px 30px;
      border-radius: 10px;
      box-shadow: 0px 10px 50px #555;
      background-color: transparent;
      align-items: center;
    }

    .body
    {
        min-height: auto;
        min-width: auto;
        border-radius: 10px;
    }

    .zipCode
    {
        border-radius: 20px;
        height: auto;
    }

    .uploadMenu {
        color: white;
        margin-top: 24px;
        border-radius: 15px;
        font-size: 15px;
        background-color: blue;
        width: auto;
        height: auto;
    }
  }