.content
{
    height: 600px;
    width: 600px;
}

h1
{
    text-align: center;
    display: inline-block;
    padding-bottom: 25px;
}

.radio1
{
    display: inline;
    font-size: large;
    padding-right: 30px;
    padding-bottom: 20px;
}

#postDonate {
    margin-left: 20px;
}

.zipcode
{
    display: inline-flex;
    font-size: x-large;
    padding-bottom: 20px;
    border-radius: 20px;
    height: 4rem;
    margin-top: 24px;
}

.zipCode
{
    border-radius: 20px;
}

.body
{
    height: 200px;
    width: 400px;
    border-radius: 10px;
}

textarea {
    font-size: 20px;
}

button
{
    display: inline-block;
}

.uploadBtn
{
    color: white;
    border-radius: 15px;
    font-size: 15px;
    margin-top: 24px;
    height: 40px;
    width: 120px;
    margin-left: 30px;
    background-color: blue;
} 

.uploadMenu {
    color: white;
    margin-top: 24px;
    border-radius: 15px;
    font-size: 15px;
    background-color: blue;
}

.btnn:hover {
    background-color: silver;
    color: #242424;
    border-radius: 0;
  }

.form-btnn {
    border-radius: 15px;
    font-size: 20px;
    margin-top: 24px;
    height: 45px;
    width: 160px;
    margin-left: 30px;
    background-color: rgb(7, 255, 48);
}
  
.form-btnn:hover {
    background-color: silver;
    color: #242424;
    border-radius: 0;
}

h4 {
    color: rgb(228, 59, 29);
}