.post-container {
    min-height: 76vh;
}
.card
{
    display: 'flex';
    flex-direction: column;
    margin-bottom: 20;
    align-content: center;
    justify-items: center;
}

.img
{
    min-width: 200;
}

.selectPostType {
    font-size: medium;
}