.post-container {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.card
{
    display: 'flex';
    position: relative;
    margin-bottom: 20;
}

.img
{
    min-width: 200;
    object-fit: cover;
}

.selectPostType {
    font-size: medium;
}

.card-content {
    flex-direction: column;
    object-fit: cover;
    margin-right: 0;
}

.authorDetail {
    text-align: center;
}

.userImg {
    max-width: 200;
    max-height: 200;
}
