.post-container {
    min-height: 76vh;
}

.card
{
    display: 'flex';
    position: relative;
    margin-bottom: 20;
}

.img
{
    min-width: 200;
    object-fit: cover;
}

.selectPostType {
    font-size: medium;
}

.card-content {
    flex-direction: column;
    object-fit: cover;
    margin-right: 0;
}

.authorDetail {
    text-align: center;
}

.userImg {
    max-width: 200;
    max-height: 200;
}
