.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-color: rgb(238, 145, 92);
    background-size: cover;
    background-repeat: no-repeat
}

body {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh;
}

.authorDetail {
    text-align: center;
    margin-bottom: 100;
}

.row{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px
}

.py-5{padding-top:3rem!important}
.py-5{padding-bottom:3rem!important}

.px-4{padding-right:1.5rem!important}
.px-4{padding-left:1.5rem!important}
.py-4{padding-top:1.5rem!important}
.py-4{padding-bottom:1.5rem!important}

.col-md-5{
    position:relative;
    width:100%;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    -webkit-box-flex:0;
    -ms-flex:0 0 80%;
    flex:0 0 80%;
    max-width:80%
}

.col-md-4{
    position:relative;
    width:80%;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    -webkit-box-flex:0;
    -ms-flex:0 0 70%;
    flex:0 0 70%;
    max-width:70%
}

.mx-auto{margin-right:auto!important}
.mx-auto{margin-left:auto!important}

.bg-white{background-color:#fff!important}

.media{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start
}
.media-body{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1
}

.pt-0{padding-top:0!important}

.pb-4,
.py-4{padding-bottom:1.5rem!important}

.align-items-end{-webkit-box-align:end!important;
    -ms-flex-align:end!important;
    align-items:flex-end!important
}
.align-items-center{-webkit-box-align:center!important;
    -ms-flex-align:center!important;
    align-items:center!important
}

.mr-3,
.mx-3{margin-right:1rem!important}

.img-thumbnail {
    padding:.25rem;
    background-color:#fff;
    border:1px solid #dee2e6;
    border-radius:.25rem;
    max-width:100%;
    height:auto
}

.mb-2,
.my-2{
    margin-bottom:.5rem!important
}

.mb-3,
.my-3{margin-bottom:1rem!important}

.mb-5,
.my-5{margin-bottom:4rem!important}

.text-white{color:#fff!important}

.bg-light{background-color:#f8f9fa!important}
a.bg-light:focus,
a.bg-light:hover,
button.bg-light:focus,
button.bg-light:hover{background-color:#dae0e5!important}

.p-4{padding:1.5rem!important}

.d-flex{
    display:-webkit-box!important;
    display:-ms-flexbox!important;
    display:flex!important}

.justify-content-end{
    -webkit-box-pack:end!important;
    -ms-flex-pack:end!important;
    justify-content:flex-end!important;
}

.justify-content-between{
    -webkit-box-pack:justify!important;
    -ms-flex-pack:justify!important;
    justify-content:space-between!important
}

.list-inline{padding-left:0;list-style:none}
.list-inline-item{display:inline-block}

.btn-outline-dark{
    color:#343a40;
    background-color:transparent;
    background-image:none;
    border-color:#343a40
}
.btn-outline-dark:hover{
    color:#fff;
    background-color:#343a40;
    border-color:#343a40
}
.btn-outline-dark.focus,
.btn-outline-dark:focus{
    box-shadow:0 0 0 .2rem rgba(52,58,64,.5)
}.btn-outline-dark.disabled,
.btn-outline-dark:disabled{
    color:#343a40;
    background-color:transparent
}
.btn-outline-dark:not(:disabled):not(.disabled).active,.btn-outline-dark:not(:disabled):not(.disabled):active,.show>.btn-outline-dark.dropdown-toggle{
    color:#fff;
    background-color:#343a40;
    border-color:#343a40
}
.btn-block{margin-top:.5rem}
.btn-block{
    display:block;
    width:100%;
}