.chatpage{
    flex: 0.75;
    background: whitesmoke;
    display:flex;
    flex-direction:column;
    
}

.chatheader{
    padding:25px;
    display:flex;
    height:89px;
    align-items: center;
    border-bottom: 1px solid lightgray;

}
.chattime{
    margin-left:4px;
    font-size:7px;
}



.header_info{
    flex: 1;
    padding-left: 20px;
    font-size: 20px;
}

.headerright{
    display:flex;
    justify-content: space-between;
    min-width: 100px;
}

.chatbody{
    flex:1;
    position: relative;
    padding: 30px;
    background-color: lightgrey;
}

.chat_message{
    position:relative;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: lightsalmon;
    width: fit-content;
   

}
.chat_receiver{
    margin-left: auto;
    background-color: tan;
    
}
.timestamp{
    margin-left: 10 px;
    font-size: xx-small;
}
.chatfooter{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 60px;
    border-top: 1px solid lightgrey
}

.chatfooter >form{
    flex:1;
    display:flex;
    
}

.chatfooter > form >input{
    flex:1;
    border-radius: 25px;
    border: none;
    padding: 10px;
}

.chatfooter > form >button{
    display:none;   
}

.chatfooter> form > .MuiSvgIcon-root{
    padding: 7 px;
    margin-top: 5px;
    width: 30px;
      
    
}