.chat{
    height: 100vh;
    overflow:hidden;
    width:100%;
    background-color: oldlace;
   
}

.chatcard{
    display: grid;
    place-items: center;
}

.chatbox{
    display:flex;
    background-color: lightgrey;
    height:75vh;
    width:70vw;
    margin-top: 40px;
    box-shadow: -1px 4px 20px -6px black ;

}