.sidebarchat{
    display:flex;
    padding:20px;
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
}

.sidebarchat:hover {
    background-color: lightsteelblue;
    
}

.chatinfo{
    margin-left: 16px;
}

.chatinfo >h2{
    margin-top:10px;
    font-size: 16px;
    margin-bottom: 12px;
}
