 .sidebar{
  
    display:flex;
    flex-direction:column ;
    flex: 0.25;
    overflow: hidden; 
    border-right:1px solid black ;
    
     border-right: 1px solid black; 
}

.header{
    display:flex;  
    align-items: center;
    height:10vh;
    padding: 10px;
    background-color:lightgray;
    justify-content: space-between;    
}

.search{
    display:flex;
    align-items:center;
    background-color: silver; 
    height: 39px;
    padding: 10px; 
}
.search-box{
    display:flex;
    align-items:center;
    height: 35px;
    background-color: white; 
    border-radius: 20px;
    width: 100%;    
}
.search-box> input{
    border: none;
    width:100%;
    padding: 10px;
}

.search-box >.MuiSvgIcon-root {
    color:silver;
    padding: 10px;
    height: 60px;
    width: 65px;
}

.headerRight{  
    margin-left:20px;  
}

.headerRight > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;   
}

.sidecontact{
    flex:1;
    background-color: white ;
    overflow-y:scroll;
    
}  
